
</main>

<footer>
  <p id="footer-p">
    © 2024 Takanakuq-Kuna. All rights reserved. 
    We are dedicated to providing a supportive and safe 
    community for oncology patients. Join us in making 
    a difference. Together, we are stronger.
  </p>
  <img id="logo" src="/images/logo.1.png" alt="Logo">
</footer>
</body>
</html>
