version: '3.9'
services:
  app:
    build: .
    env_file:
      - .env
    environment:
      - SECRET_KEY=${SECRET_KEY}

      - AWS_REGION=${AWS_REGION}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_BUCKET_NAME=${AWS_BUCKET_NAME}

      - PORT=${PORT}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}

    networks:
      - takanakuq-net
    depends_on:
      - db
  
  db:  
    image: postgres:16.2
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - takanakuq-net
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./database/postgres/takanakuq.sql:/docker-entrypoint-initdb.d/takanakuq.sql

  nginx:
    image: nginx:1.24.0
    env_file:
      - .env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ${CERTIFICATE_PATH}:/certs
    networks:
      - takanakuq-net
    depends_on:
      - app

  bot:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
      - ./Modelfile:/root/Modelfile
    networks:
      - takanakuq-net

volumes:
  postgres-data:
  ollama:

networks:
  takanakuq-net: