version: '3.9'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    networks:
      - takanakuq-net
    ports:
      - "3000:3000"
    volumes:
      - .:/app
    depends_on:
      - db
  
  db:  
    image: postgres:16.2
    environment:
      - POSTGRES_USER=psqlUser
      - POSTGRES_PASSWORD=psqlPass
    networks:
      - takanakuq-net
    ports:
      - "5432:5432"
    volumes:
      - ./database/postgres/takanakuq.sql:/docker-entrypoint-initdb.d/takanakuq.sql
      - data:/var/lib/postgresql/data

  bot:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
      - ./Modelfile:/root/Modelfile
    networks:
      - takanakuq-net

networks:
  takanakuq-net:

volumes:
  data:
  ollama: