<%- include('../partials/header') -%>

<section>
  <article>
    <h1 class="sec-title">About Our Work</h1>
    <p>
      We are a group of students passionate about technology and committed 
      to making a difference in people's lives. We have teamed up to develop 
      Takanakuq-Kuna, a social media platform designed specifically to support 
      cancer patients. Our goal is to create a space where harmony and support 
      are at the core of every interaction, enlivening the daily lives of those 
      facing this difficult battle.
    </p>

    <p>
      Our application is completely focused on being free and open source software. 
      We believe in the power of community and open collaboration to improve and 
      maintain our platform. We do not seek economic benefits; our mission is to 
      contribute and help improve the quality of life for cancer patients through 
      the use of technology.
    </p>

    <p>
      We invite all developers, patients, family, and friends to join our community, 
      share their experiences, and contribute to the growth and improvement of 
      Takanakuq-Kuna. Together, we can create an environment of support and hope, 
      making a real difference in the lives of those who need it most.
    </p>
  </article>
  <article>
    <h1 class="sec-title">About Our Application</h1>
    <p>
      Takanakuq-Kuna is a social network specifically designed for 
      oncology patients. On our platform, individuals affected by 
      cancer can share their experiences, provide mutual support, 
      and find a safe space for self-expression.
    </p>

    <p>
      One of the key features of our application is the ability to conduct 
      group calls, where mental health professionals can offer support and 
      guidance to users. This feature promotes better interaction and 
      provides a real-time space for consultation and support.
    </p>

    <p>
      Additionally, Takanakuq-Kuna includes a tool for entering medical 
      prescriptions. This function is designed to make it easier for 
      users to track their treatment. The application sends automatic 
      reminders to take medications at the appropriate time, based on 
      the information entered in the prescription. This helps ensure 
      that patients follow their treatment effectively and on time.
    </p>

    <p>
      In summary, Takanakuq-Kuna is more than just a social network: 
      it's a comprehensive support community for oncology patients, 
      where technology is used to improve quality of life and promote 
      the well-being of those facing this challenging situation.
    </p>
  </article>
</section>


<%- include('../partials/footer') -%>