<%- include('../../partials/es/header-es') -%>

<section>
  <article>
    <h1 class="sec-title">Sobre Nuestro Trabajo</h1>
    <p>
      Somos un grupo de estudiantes apasionados por la tecnología y comprometidos con marcar una 
      diferencia en la vida de las personas. Nos hemos unido para desarrollar Takanakuq-Kuna, una 
      plataforma de redes sociales diseñada específicamente para apoyar a los pacientes con cáncer. 
      Nuestro objetivo es crear un espacio donde la armonía y el apoyo sean el núcleo de cada interacción, 
      animando la vida diaria de quienes enfrentan esta difícil batalla.
    </p>

    <p>
      Nuestra aplicación está completamente enfocada en ser software libre y de código abierto. Creemos en 
      el poder de la comunidad y la colaboración abierta para mejorar y mantener nuestra plataforma. No 
      buscamos beneficios económicos; nuestra misión es contribuir y ayudar a mejorar la calidad de vida de 
      los pacientes con cáncer a través del uso de la tecnología.
    </p>

    <p>
      Invitamos a todos los desarrolladores, pacientes, familiares y amigos a unirse a nuestra comunidad, 
      compartir sus experiencias y contribuir al crecimiento y mejora de Takanakuq-Kuna. Juntos, podemos 
      crear un ambiente de apoyo y esperanza, haciendo una diferencia real en las vidas de quienes más lo 
      necesitan.
    </p>
  </article>
  <article>
    <h1 class="sec-title">Sobre Nuestra Aplicación</h1>
    <p>
      Takanakuq-Kuna es una red social diseñada especialmente 
      para pacientes oncológicos. En nuestra plataforma, las 
      personas afectadas por el cáncer pueden compartir sus 
      experiencias, brindarse apoyo mutuo y encontrar un 
      espacio seguro para expresarse.
    </p>

    <p>
      Una de las características principales de nuestra aplicación 
      es la posibilidad de realizar llamadas grupales, donde 
      profesionales de la salud mental pueden brindar apoyo y orientación 
      a los usuarios. Esta función promueve una mejor interacción y 
      ofrece un espacio de consulta y contención en tiempo real.
    </p>

    <p>
      Además, Takanakuq-Kuna cuenta con una herramienta para ingresar 
      recetas médicas. Esta función está diseñada para facilitar a 
      los usuarios el seguimiento de su tratamiento. La aplicación 
      emite recordatorios automáticos para tomar medicamentos en el 
      momento adecuado, basándose en la información de la receta ingresada. 
      Esto ayuda a garantizar que los pacientes sigan su tratamiento 
      de manera efectiva y oportuna.
    </p>

    <p>
      En resumen, Takanakuq-Kuna es mucho más que una red social: 
      es una comunidad de apoyo integral para pacientes oncológicos, 
      donde la tecnología se utiliza para mejorar la calidad de vida 
      y promover el bienestar de quienes enfrentan esta difícil situación.
    </p>
  </article>
</section>


<%- include('../../partials/es/footer-es') -%>