<section>
  <article>
    <h1 class="sec-title">Primeros Pasos</h1>

    <h3 class="subtitle">Clonar el repositorio</h3>
    <p class="guide">
      Para comenzar con la API de Takanakuq-Kuna, necesitas clonar el repositorio y configurar tu entorno de desarrollo. Sigue los pasos a continuación para poner el proyecto en funcionamiento.
    </p>
    <code class="cli">git clone https://github.com/jsusmachaca/takanakuq-kuna</code>

    <h3 class="subtitle">Instalación</h3>
    <p class="guide">
      Después de clonar el repositorio, navega al directorio del proyecto e instala las dependencias necesarias utilizando npm:
    </p>
    <code class="cli">cd takanakuq-kuna</code>
    <code class="cli">npm install</code>
    <code class="cli">npm run gen-key</code>

    <h3 class="subtitle">Ejecutar la Aplicación</h3>
    <p class="guide">
      Una vez instaladas las dependencias, puedes iniciar la aplicación utilizando el siguiente comando:
    </p>
    <code class="cli">npm start</code>
    <p class="guide end-guide">
      La aplicación debería estar funcionando en <code class="url">http://localhost:3000</code>. Puedes abrir esta URL en tu navegador para interactuar con la API.
    </p>
  </article>
</section>

<section>
  <h1 class="sec-title">Implementación de la API y Endpoints</h1>
  <p class="guide end-guide">
    A continuación, se presentan algunos de los endpoints clave 
    disponibles en la API de Takanakuq-Kuna. Para una lista completa 
    de endpoints y sus detalles, 
    consulta el archivo <code>README</code> del proyecto o la documentación de la API.
  </p>
</section>
