footer {
    margin-top: 80px;
    text-align: center;
}

#footer-p {
    font-size: 18px;
    color: rgb(122, 122, 122);
}

#logo {
    width: 400px;
    margin-bottom: 30px;
    opacity: 1;
    transition: opacity 2s ease-in-out; 

    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        filter: drop-shadow(
            0 0 0 rgba(255, 0, 98, 0)
        );
    }

    50% {
        filter: drop-shadow(
            0 0 10px rgba(255, 0, 98, .3)
        );
    }

    100% {
        filter: drop-shadow(
            0 0 0 rgba(255, 0, 98, 0)
        );
    }
}