<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Takanakuq-Kuna</title>
  <script defer src="/js/script.js"></script>
</head>
<body>
  <header id="banner">
    <h1 id="title">Takanakuq-Kuna</h1>  
    <nav>
      <ul>
        <li>
          <a class="link-page" id="about" href="/about">About</a>
        </li>
        <li>
          <a class="link-page" id="docs" href="/">Docs</a>
        </li>
        <li>
          <a class="link-page" id="page" href="">Page</a>
        </li>
      </ul>
    </nav>
  </header>
  <main id="content">