
</main>

<footer>
  <p id="footer-p">
    © 2024 Takanakuq-Kuna. Todos los derechos reservados. 
    Nos dedicamos a ofrecer una comunidad de apoyo y seguridad 
    para pacientes oncológicos. Únete a nosotros para marcar 
    la diferencia. Juntos, somos más fuertes.
  </p>
  
</footer>
</body>
</html>
