<section>
  <article>
    <h1 class="sec-title">Get Started</h1>

    <h3 class="subtitle">Clone the repo</h3>
    <p class="guide">
      To get started with the Takanakuq-Kuna API, you'll need to clone the repository and set up your development environment. Follow the steps below to get the project up and running.
    </p>
    <code class="cli">git clone https://github.com/jsusmachaca/takanakuq-kuna</code>

    <h3 class="subtitle">Installation</h3>
    <p class="guide">
      After cloning the repository, navigate to the project directory and install the necessary dependencies using npm:
    </p>
    <code class="cli">cd takanakuq-kuna</code>
    <code class="cli">npm install</code>
    <code class="cli">npm run gen-key</code>

    <h3 class="subtitle">Running the Application</h3>
    <p class="guide">
      Once the dependencies are installed, you can start the application using the following command:
    </p>
    <code class="cli">npm start</code>
    <p class="guide end-guide">
      The application should now be running on <code class="url">http://localhost:3000</code>. You can open this URL in your browser to interact with the API.
    </p>
  </article>
</section>

<section>
  <h1 class="sec-title">API and Endpoints Implementation</h1>
  <p class="guide end-guide">
    Below are some of the key endpoints available in the Takanakuq-Kuna API. For a full list of endpoints and their details, refer to the project’s <code>README</code> file or API documentation.
  </p>
</section>
