<section>
  <h2 class="endtitle">Posts Endpoints</h2>
  <p>
    The Takanakuq-Kuna API provides a series of endpoints 
    designed to facilitate the management of posts on a 
    social network intended to support cancer patients. 
    Through these endpoints, users can perform actions 
    like get details of all posts, add new posts, get 
    specific posts, delete existing posts, add comments 
    to posts, and delete them. Each of these operations 
    may require authentication using a session token, 
    ensuring that only authorized users can access 
    and modify your posts.
  </p>
  <article>
    <h3 class="subtitle-end">* GET <span class="url">/api/posts/all</span></h3>
    <p class="guide">
      Retrieves a list of all patient posts.
    </p>
    <pre class="cli">
GET /api/posts/all
Content-Type: application/json

Response: [
  {
    "id": 1123,
    "user_id": 14345,
    "username": "john",
    "profile_image": http://example.com/profile.jpg,
    "post": "
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Amet quas dolore quae a, soluta, porro eaque rerum quia excepturi 
      ipsum, laborum unde facere corporis necessitatibus fugit 
      asperiores nostrum quisquam? At.
    ",
    "post_image": null,
    "date_publish": "2024-05-12T17:41:47.844Z"
  },
  {
    "id": 22345,
    "user_id": 1asd3,
    "username": "doe",
    "profile_image": http://example.com/profile.jpg,
    "post": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
    "post_image": http://example.com/post.jpg,
    "date_publish": "2024-05-12T17:46:17.895Z"
  },
  ...
]</pre>

    <h3 class="subtitle-end">* GET <span class="url">/api/posts/user?id=$id</span></h3>
    <p class="guide">
      Retrieves a list of all posts for a single patient. <strong>Requires session token</strong>.
    </p>
    <pre class="cli">
GET /api/posts/user?id=41312591
Content-Type: application/json

Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
               eyJkYXRhIjoiZXhhbSJ9.
               SB28SPYW_jB3gvLeX0QHR8FP3SpbxR9KkkmWWHg5yK4

Response: [
  {
    "id": 112242,
    "user_id": 14446,
    "username": "john",
    "profile_image": http://example.com/profile.jpg,
    "post": "
      Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Amet quas dolore quae a, soluta, porro eaque rerum quia excepturi 
      ipsum, laborum unde facere corporis necessitatibus fugit 
      asperiores nostrum quisquam? At.
    ",
    "post_image": null,
    "date_publish": "2024-05-12T17:41:47.844Z"
  },
  {
    "id": 22312,
    "user_id": 1143543,
    "username": "doe",
    "profile_image": http://example.com/profile.jpg,
    "post": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
    "post_image": http://example.com/post.jpg,
    "date_publish": "2024-05-12T17:46:17.895Z"
  },
  ...
]</pre>

      <h3 class="subtitle-end">* GET <span class="url">/api/posts/get-post?id=$id</span></h3>
      <p class="guide">
        Retrieves a specific post. <strong>Requires session token</strong>.
      </p>
<pre class="cli">
GET /api/posts/get-post?id=324553
Content-Type: application/json

Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
           eyJkYXRhIjoiZXhhbSJ9.
           SB28SPYW_jB3gvLeX0QHR8FP3SpbxR9KkkmWWHg5yK4

Response:
{
  "id": 22433,
  "user_id": 15321,
  "username": "doe",
  "profile_image": http://example.com/profile.jpg,
  "post": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
  "post_image": http://example.com/post.jpg,
  "date_publish": "2024-05-12T17:46:17.895Z"
}</pre>

<h3 class="subtitle-end">* POST <span class="url">/api/posts/publish</span></h3>
<p class="guide">
  Adds a new post. <strong>Requires session token</strong>.
</p>
<pre class="cli">
POST /api/posts/publish
Content-Type: application/json

Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
           eyJkYXRhIjoiZXhhbSJ9.
           SB28SPYW_jB3gvLeX0QHR8FP3SpbxR9KkkmWWHg5yK4

Body: {
  "post": "your post",
  "post_image": "file"
}

Response: true
</pre>

      <h3 class="subtitle-end">* DELETE <span class="url">/api/posts/delete?id=$id</span></h3>
      <p class="guide">
        Deletes a post. <strong>Requires session token</strong>.
      </p>
<pre class="cli end-cli">
DELETE /api/posts/delete?id=14436
Content-Type: application/json

Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
           eyJkYXRhIjoiZXhhbSJ9.
           SB28SPYW_jB3gvLeX0QHR8FP3SpbxR9KkkmWWHg5yK4

Response: true</pre>

    <h3 class="subtitle-end">* GET <span class="url">/api/comments/get-comments?post=$id</span></h3>
    <p class="guide">
      Retrieves all comments on a post.
    </p>
<pre class="cli">
GET /api/comments/get-comments?post=354533
Content-Type: application/json

Response: [
  {
    "id": 32454,
    "username": john,
    "profile_image": http://example.com/profile.jpg,
    "comment": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
    "date": "2024-05-12T17:46:17.895Z"
  },
  {
    "id": 23453,
    "username": john,
    "profile_image": http://example.com/profile.jpg,
    "comment": "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
    "date": "2024-05-12T17:46:17.895Z"
  },
  ...
]</pre>

    <h3 class="subtitle-end">* POST <span class="url">/api/comments/publish-comment?post=$id</span></h3>
    <p class="guide">
      Adds a new comment for a post. <strong>Requires session token</strong>.
    </p>
<pre class="cli">
POST /api/comments/publish-comment?post=234523
Content-Type: application/json

Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
           eyJkYXRhIjoiZXhhbSJ9.
           SB28SPYW_jB3gvLeX0QHR8FP3SpbxR9KkkmWWHg5yK4

Body:
{
  "comment": "Lorem ipsum"
}

Response: true</pre>

    <h3 class="subtitle-end">* DELETE <span class="url">/api/comments/delete-comment?post=$id</span></h3>
    <p class="guide">
      Deletes a comment. <strong>Requires session token</strong>.
    </p>
<pre class="cli end-cli">
DELETE /api/comments/delete-comment?id=23454
Content-Type: application/json

Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.
           eyJkYXRhIjoiZXhhbSJ9.
           SB28SPYW_jB3gvLeX0QHR8FP3SpbxR9KkkmWWHg5yK4

Response: true</pre>
  </article>
</section>